body {
  background-color: black;
  color: yellow;
  font-family: unbounded;
  margin: 0;
}
#topbar {
  align-items: center;
  border: 0.5px solid yellow;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
#topbar span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#topbar input {
  margin-left: auto;
}
#topbar input::placeholder {
  text-align: center;
  font-size: 15px;
  font-family: unbounded;
}
#topbar a {
  font-size: 12px;
  color: yellow;
} 
#layout {
  display: flex;
}
#sidebar {
  border: 0.5px solid yellow;
  width: 130px;
  height: calc(100vh - 30px);
  overflow-y: auto;
  text-align: center;
  box-sizing: border-box;
  flex-shrink: 0;
}
#sidebar a {
  color: yellow;
}
#main {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
#main label {
  display: inline-block;
}
#search {
  width: 560px;
  height: 50px;
  background-color: black;
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  border: 0.5px solid yellow;
}
#categories {
  margin-bottom: 15px;
}
#categories label {
  display: inline-block;
  margin: 0 5px;
}
#searchResults {
  position: absolute;
  top: 31px;
  right: 0;
  width: 300px;
  max-height: 250px;
  overflow-y: auto;
  background-color: black;
  z-index: 100;
}